.card {
    background: linear-gradient(to top, rgba(40, 38, 126, 0.2), rgba(72, 58, 255, 0.1));
    max-width: 500px;
    min-height: 120px;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.paragraph {
}

.likeContainer {
    display: flex;
    gap: 5px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.icon {
    max-height: 20px;
}

.faThumbsUp {
    color: rgb(40, 90, 255);
}