nav {
    background: linear-gradient(to top, rgb(97, 97, 97), gray);
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

label {
    color: white;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}